*{
    margin:0px;
    text-align: center;
    align-items: center;
    background-color: coral;
}
h2{
    color:brown;
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}   
button{
    color: aliceblue;
    background-color:black;
    
}
p{
    text-decoration:underline;
    padding :10px;
    font-weight:bolder;
}
#heading1{
        background-color: cadetblue;
        border:2px solid white;
        box-shadow: 3px;
}